
.login-form
{
  width:50%;
  display: block;
  margin:0 auto;
  max-width: 500px;
  min-width: 350px
}

.login-form h2
{
  text-align: center;
}

.logo {
  text-align: center;
}

.logo .holder {
  display: inline-block;
    padding: 10px;
    padding-bottom: 0;
}

.logo object {
  width: 150px;
}
